azureml==0.2.7
azureml_train_restclients_hyperdrive==1.42.0
feature_engine==1.2.0
imbalanced_learn==0.8.1
imblearn==0.0
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.5
scikit_learn==1.1.1
scipy==1.5.4
seaborn==0.11.2
